@import url("../src/components/App/App.css");
@import url("../src/components/Banner/Banner.css");
@import url("../src/components/Calculator/Calculator.css");
@import url("../src/components/Field/Field.css");
@import url("../src/components/Footer/Footer.css");
@import url("../src/components/Link/Link.css");

html {
	scroll-behavior: smooth;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
}

body,
p,
h1,
h2,
h5 {
	margin: 0;
}

a,
a:visited {
	color: #262633;
}
